#app {
    font-family: 'Montserrat', sans-serif;
}

.footerh4 {
    color: white;
}


.card-body h5{
    align-items: center;
    text-align: center;
    font-weight: 500;
}

p {
    font-size: 14px;
  }

  