#app {
    font-family: 'Montserrat', sans-serif;
}

.footerh4 {
    color: white;
}

.nav-link {
    color: white;
}

.card {
    display: flex;
    margin: 0 10px;
}

.card-body h5{
    align-items: center;
    text-align: center;
    font-weight: 500;
}
